<div class="card my-4">
  <h5 class="card-header">Blog Categories</h5>
  <div class="card-body">
    <div class="row">

      {{#each category}}
        <div class="col-lg-6">
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#">{{name}}</a>
            </li>
          </ul>
        </div>
      {{/each}}
      {{! <div class="col-lg-6">
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#">JavaScript</a>
          </li>
          <li>
            <a href="#">CSS</a>
          </li>
          <li>
            <a href="#">Tutorials</a>
          </li>
        </ul>
      </div> }}
    </div>
  </div>
</div>
<div class="card my-4">
  <h5 class="card-header">Techonology Used</h5>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#">Node js</a>
          </li>
          <li>
            <a href="#">Express.js</a>
        <li>
            <a href="#">Javascript</a>
        </ul>
      </div>
       <div class="col-lg-6">
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#">MongoDb</a>
          </li>
          <li>
            <a href="#">Bootsrap</a>
            </li>
             <li>
            <a href="#">express-handlebars</a>
            </li>
          
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="card my-4">
  <h5 class="card-header">Library(package) Used</h5>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#">body-parser</a>
          </li>
          <li>
            <a href="#">express-session</a>
        <li>
            <a href="#">connect-flash</a>
        </ul>
      </div>
       <div class="col-lg-6">
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#">Mongoose</a>
          </li>
          <li>
            <a href="#">Method-override</a>
            </li>
             <li>
            <a href="#">Passport</a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>